* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d7d9db;
    font-family: Manrope;
}

header {
    height: 4vw;
    width: 100%;
    background-color: white;
    padding: 1vw;
    position: fixed;
    border-bottom: thin #d7d9db solid;
}

main {
    margin: 0 25% 0 25%;
    border: thin #d7d9db solid;
    background-color: white;
}

.seccion-insta-earth {
    padding: 5vw 2vw 0 2vw;
    line-height: 1.5em;
    display: flex;
}
.image-and-title {
    width: 75%;
    display: flex;
}

.circle-image-earth {
    border-radius: 50%;
    width: 40px;
    height: 40px;   
    margin-right: 1vw;
    margin-left: 1vw;
}

.earth-account {
    display: flex;
    flex-direction: column;
}

.dots {
    width: 25%;
    margin-right: 1vw;
    margin-left: 1vw;
    display: flex;
    justify-content: flex-end;

}

.san-fran-image {
    height: 100%;
    padding: 1vw 2.5vw 0.5vw 2.5vw;
}

.fa-icons {
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
}

.heart-comment-plane {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.bookmark {
    width: 75%;
    display: flex;
    justify-content: flex-end;
}

.bold-text {
    font-weight: bold;
}

.below-picture {
    margin: 1vw 2.5vw 2.5vw 2.5vw;
    line-height: 2em;
}
.grey {
    color: grey;
}
.earth-title {
    padding-left: 2vw;
}
.comments {
    padding-left: 2vw;
}
.comment-1 {
    display: flex;
}
.comment-2 {
    display: flex;
}

.text {
    width: 75%;
    display: flex;
}

.heart-in-comment {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

